
 </script>
   <div class="row">
     <div class="pull-right hide">
      <a id="new_modal_link" href="#myModal_new" role="button" class="btn btn-primary btn-large">New</a>
    </div>
          <div class="tabbable" id="notes_tab" style="margin-top:50px"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
              <li class="active" >
                <a href="#private_tab" data-toggle="tab" access-type="private">Private Notes</a>
              </li>
              <li>
                <a href="#public_tab" data-toggle="tab" access-type="public">Public Notes</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="private_tab">

                <div class="board_container context-menu-board" id="board_private">

                    <ul>
                      <% unless @private_notices.nil?%>
                       <%@private_notices.each do |notice| %>
                        <li class="context-menu-note-private notice" type="private" id="<%= notice.id %>">
                         <a href="#">
                          <img src="assets/pin.png" class="sticky_pin">
                          <h4 class="notice_title"><%=notice.title%></h4>
                          <p class="notice_content"><%=notice.content%></p>
                         </a>
                        </li>
                       <%end%>
                      <%end%>

                    </ul>
                </div>

              </div>
              <div class="tab-pane" id="public_tab">

                <div class="board_container context-menu-board" id="board_public">
                  <ul>
                     <%@public_notices.each do |notice| %>
                       <% if(notice.author == @user.name) %>
                        <% ownclass= "context-menu-note-public-own" %>
                       <% else %>
                        <% ownclass= "context-menu-note-public" %>
                       <% end %>

                        <li class="<%=ownclass%>  notice" type="private" id="<%= notice.id %>">
                         <a href="#">
                          <img src="assets/pin.png" class="sticky_pin">
                          <h4 class="notice_title"><%=notice.title%></h4>
                          <p class="notice_content"><%=notice.content%></p>
                         </a>
                        </li>
                      <%end%>

                  </ul>
                </div>

              </div>
            </div>
          </div>

        </div>

<script type="text/javascript">
loadnotices();
</script>

<!-- Modal -->
<div id="myModal_new" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Create Notice</h3>
  </div>
  <div class="modal-body">
    <%= form_for(Notice.new) do |f| %>
      <table cell-padding="5" cell-spacing="5">
        <tr>
          <td>
            <%= f.label :title %>
          </td>
          <td>
            <%= f.text_field :title %><br />
          </td>
        </tr>
        <tr>
<!--           <td>
            <%= f.label :access_type %>
          </td>
 -->          <td>
            <%= f.hidden_field :access_type %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label :content %>
          </td>
          <td>
            <%= f.text_area :content, :rows => 5 %><br />
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <%= f.submit :class => 'btn btn-primary'  %>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
          </td>
        </tr>
      </table>
    <% end %>

  </div>
  <div class="modal-footer">
 </div>
</div>

<script type="text/template" id="private_notice_template">
  <li class="context-menu-note-<%%type%>" id="<%%element.id%>">
    <a href="#">
      <img src="assets/pin.png" class="sticky_pin">
      <h4><%%=element.title%></h4>
      <p><%%=element.content%></p>
    </a>
  </li>
</script>

<script>
  window.new_notice_url = "<%=notices_url%>";
  window.edit_notice_url = "<%=notices_url%>";
</script>


