
 </script>
   <div class="row">
     <div class="pull-right hide">
      <a id="new_modal_link" href="#myModal_new" role="button" class="btn btn-primary btn-large">New</a>
    </div>
          <div class="tabbable" id="notes_tab" style="margin-top:50px"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
              <li class="active" >
                <a href="#private_tab" data-toggle="tab" access-type="private">Private Notes</a>
              </li>
              <li>
                <a href="#public_tab" data-toggle="tab" access-type="public">Public Notes</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="private_tab">

                <div class="board_container context-menu-board" id="board_private">

                    <ul>
                      <% unless @private_notices.nil?%>
                       <%@private_notices.each do |notice| %>
                        <li class="context-menu-note-private notice" type="private" id="<%= notice.id %>">
                         <span style="color:<%=@user.color%>">
                          <img src="assets/pin.png" class="sticky_pin">
                          <h4 class="notice_title"><%=notice.title%></h4>
                          <p class="notice_content"><%=notice.content%></p>
                         </span>
                        </li>
                       <%end%>
                      <%end%>

                    </ul>
                </div>

              </div>
              <div class="tab-pane" id="public_tab">

                <div class="board_container context-menu-board" id="board_public">
                  <ul>
                     <%@public_notices.each do |notice| %>
                       <% if(notice.author == @user.name) %>
                        <% ownclass= "context-menu-note-public-own" %>
                       <% else %>
                        <% ownclass= "context-menu-note-public" %>
                       <% end %>
                        <li class="<%=ownclass%>  notice" type="public" id="<%= notice.id %>">
                         <span style="color:<%=User.find_by_name(notice.author).color%>">
                          <img src="assets/pin.png" class="sticky_pin">
                          <h4 class="notice_title"><%=notice.title%></h4>
                          <p class="notice_content"><%=notice.content%></p>
                         </span>
                        </li>
                      <%end%>

                  </ul>
                </div>

              </div>
            </div>
          </div>

        </div>

<script type="text/javascript">
// loadnotices();
</script>

<!-- Modal -->
<div id="myModal_new" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Create Notice</h3>
  </div>
  <div class="modal-body">
    <%= form_for(Notice.new, :remote=>true) do |f| %>
      <table cell-padding="5" cell-spacing="5">
        <tr>
          <td>
            <%= f.label :title %>
          </td>
          <td>
            <%= f.text_field :title %><br />
          </td>
        </tr>
        <tr>
<!--           <td>
            <%= f.label :access_type %>
          </td>
 -->          <td>
            <%= f.hidden_field :access_type %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label :content %>
          </td>
          <td>
            <%= f.text_area :content, :rows => 5 %> <span id="char_left"></span><br />
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <%= f.submit :class => 'btn btn-primary'  %>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
  <div class="modal-footer">
 </div>
</div>



<!-- Modal -->
<div id="email_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Send By Email</h3>
  </div>
  <div class="modal-body">
  <form id="send_by_email">
    <input type="hidden" id="mail_noteid" value="">
    <label >Email: </label> <input id="email_send" type="email" placeholder="Enter the email" name="email-send" required>
  </form>

  </div>
  <div class="modal-footer">
      <input type="button" id="send_email_btn" value="Send Mail" data-loading-text="Sending..."  class="btn btn-primary">
      <input type="button"  value="Cancel" class="btn">
 </div>
</div>

<!-- Modal -->
<div id="search_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Search</h3>
  </div>
  <div class="modal-body">
    <form id="search_by_keyword">
    <input type="hidden" id="search_board" value="">
    <label >Search: </label> <input name="search_keyword" id="search_keyword" type="text" placeholder="Enter the search"></form>

  </div>
  <div class="modal-footer">
      <button data-loading-text="searching..! Please Wait..!" data-toggle="button"  id="search_btn" class="btn btn-primary">Search</button>
      <input type="button"  value="Cancel" class="btn">
 </div>
</div>

<!-- Modal -->
<div id="setting_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Board Settings</h3>
  </div>
  <div class="modal-body">
    <%= render :template =>  '/users/board_settings' , :locals => { :setting => current_user.setting }  %>
  </div>
</div>


<script type="text/template" id="notice_template">
  <li class="<%%=element.className%>  notice" type="<%%=element.type%>" id="<%%=element.id%>">
    <span style="color:<%%=element.user_color%>;">
      <img src="assets/pin.png" class="sticky_pin">
      <h4 class='notice_title'><%%=element.title%></h4>
      <p class='notice_content'><%%=element.content%></p>
    </span>
  </li>
</script>

<script>
// sync_notices();
  window.new_notice_url = "<%=notices_url%>";
  window.edit_notice_url = "<%=notices_url%>";
</script>
<!-- validations -->



