   <div class="row">
     <div class="pull-right"><a href="#myModal" role="button" class="btn btn-primary btn-large" data-toggle="modal">New</a> </div>
            <div class="tabbable" style="margin-top:50px"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#private_tab" data-toggle="tab">Private Notes</a></li>
              <li><a href="#public_tab" data-toggle="tab">Public Notes</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="private_tab">

                <div class="board context-menu-board" id="board">
                 
                  <ul>
                    <% unless @private_notices.nil?%>
                     <%@private_notices.each do |notice| %>
                      <li class="context-menu-note" id="<%= notice.id %>">
                       <a href="#">
                        <h4><%=notice.title%></h4>
                        <p><%=notice.content%></p>
                       </a>
                      </li>
                     <%end%>
                    <%end%>

                  </ul>
                </div>

              </div>
              <div class="tab-pane" id="public_tab">
                
                <div class="board context-menu-board">
                  <ul>
                    
                     <%@public_notices.each do |notice| %>
                      <li class="context-menu-note" id="<%= notice.id %>">
                       <a href="#">
                        <h4><%=notice.title%></h4>
                        <p><%=notice.content%></p>
                       </a>
                      </li>
                   <%end%>
                   
                  </ul>
                </div>

              </div>
            </div>
          </div>

        </div>



        <!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Create Notice</h3>
  </div>
  <div class="modal-body">
  
  <%= form_for(Notice.new) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br />
    <%= f.label :access_type %>
    <%= f.select :access_type, :collection=>["public","private"] %><br />
    <%= f.label :content %>
    <%= f.text_area :content %><br />
    <%= f.submit :class => 'btn btn-primary'  %>
  <% end %>
    
     </div>
    <div class="modal-footer">
      



 
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>
