<h2></h2>
<% teams={} %>
<%Team.all.each  do |rec| %>
<% teams[rec.id]=rec.name %>
<% end %>
<%= form_for(resource,:html=>{:id=>"user_sign"}, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email,t(:email) %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password, t(:password)%>
  <%= f.password_field :password %></div>

  <div><%= f.label :team,t(:team) %>
  <input name="user[team]" id="team_name" type="text">
  <!--  <input name="user[team]" id="team_name" style="width: 279px;"> -->
   </div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me,t(:remember_me) %></div>
  <% end -%>

  <div><%= f.submit t(:login),:class=>"btn btn-primary"%></div>
<% end %>
<%= render "users/shared/links" %>

<script type="text/javascript">
$(document).ready(function(){
  $(".new_user").validate({
      rules: {
        "user[email]": {
          email:true,
          required: true
        },
        "user[password]": {
          required: true,
          minlength: 8
        },
        "user[team]":{
          required:true
        }

      },
      messages: {
         "user[email]": {
           email: I18n.t("js.error_messages.invalid_email"),
           required: I18n.t("js.error_messages.enter_email")
         },
         "user[password]":{
            required :I18n.t("js.error_messages.enter_password")
         },
         "user[team]":{
          required:I18n.t("js.error_messages.enter_team")
         }
        },
      highlight: function(label) {
        return $(label).closest(".control-group").addClass("error");
      }
  });

  window.availableTags = <%= raw Team.all.collect {|p| p.name } %>;
  $("#team_name").autocomplete({
    source: availableTags
  });
});
</script>
