
<div class="container">

	<% unless flash[:notice].nil? %>
		<div class="alert"><%= flash[:notice] %></div>
	<% end %>

	<div class="row ">
			<%= form_for @user , :url  => user_update_path, :method => :put , :class => 'form_horizontal span5' do |f| %>

			  <div class="control-group">
	   			<%= f.label :name ,"Name*" , :class=> 'control-label'%>
	    		<div class="controls">
	    			<%= f.text_field :name,:class=> 'input' %>
	    		</div>
	  		</div>

			  <div class="control-group">
	   			<%= f.label :password , :class=> 'control-label'%>
	    		<div class="controls">
	    			<%= f.password_field :password,:class=> 'password' %>
	    		</div>
	  		</div>

			  <div class="control-group">
	   			<%= f.label :password_confirmation , :class=> 'control-label'%>
	    		<div class="controls">
	    			<%= f.password_field :password_confirmation,:class=> 'password' %>
	    		</div>
	  		</div>

			  <div class="control-group">
	   			<%= f.label :color , :class=> 'control-label'%>
	    		<div class="controls">
	    			<%= f.text_field :color ,:class=> 'input' %>
	    		</div>
	  		</div>

			  <div class="control-group">
	   			<%= f.label :gender , :class=> 'control-label'%>
	    		<div class="controls">
	    			<%= f.select :gender ,options_for_select(['Male','Female']) , :class=> 'input' %>
	    		</div>
	  		</div>


			  <div class="control-group">
	   			<%= f.label :contact_no, :class=> 'control-label'%>
	    		<div class="controls">
	    			<%= f.text_field :contact_no ,:class=> 'input' %>
	    		</div>
	  		</div>


			  <div class="control-group">

	    		<div class="controls">
	    			<%= f.submit 'Update Settings' ,:class => "btn btn-primary " %>
	    		</div>
	  		</div>

			<% end %>
	</div>

</div>