<div class="tabbable" style="margin-top:50px"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#profile_tab" data-toggle="tab">user Profile</a></li>
               <li><a href="#pwd_tab" data-toggle="tab">Change Password </a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="profile_tab">

                <div class="board " id="board">
                  <% unless flash[:notice].nil? %>
                 <div class="alert"><%= flash[:notice] %></div>
                  <% end %>
                  <div class="span3"></div>
                  <div class="span6">
                    <div class="form_container">
                      <%= form_for @user , :url  => user_update_path, :method => :put , :class => 'form_horizontal span5' do |f| %>

                        <div class="control-group">
                          <%= f.label :name ,"Name*" , :class=> 'control-label'%>
                          <div class="controls">
                            <%= f.text_field :name,:class=> 'input' %>
                          </div>
                        </div>
                        <div>
                        <div class="control-group">
                          <label for="team_ids" class="control-label">Teams</label>
                          <%= select_tag "team_ids", options_for_select(Team.all.map {|t| [t.name, t.id]},@user.teams.map(&:id)),:multiple=>true,:class=>"chosen" %>
                          </div>
                          <div>
                          <input type="checkbox" id="new_team_check">
                          <label for="new_team_check" class="control-label" >Create New Team</label>
                          </div>  
                          <div class="disabled">
                          <label for="new_team" class="control-label">Team Name</label>
                          <input id="new_team" disabled="disabled" type="text" name="new_team">
                          </div> 
                        </div>

                        <div class="control-group">

                          <%= f.label :color , :class=> 'control-label'%>
                          <div class="controls">
                            <div class="input-append color" data-color="<%=@user.color%>" data-color-format="rgb" id="cp3">

                            <%= f.text_field :color ,:class=> 'input', :readonly => true %>
                            <span class="add-on"><i style="background-color:<%=@user.color%>"></i></span>
                            </div>
                          </div>
                        </div>

                        <div class="control-group">
                          <%= f.label :gender , :class=> 'control-label'%>
                          <div class="controls">
                            <%= f.select :gender ,options_for_select(['Male','Female']) , :class=> 'input' %>
                          </div>
                        </div>


                        <div class="control-group">
                          <%= f.label :contact_no, :class=> 'control-label'%>
                          <div class="controls">
                            <%= f.text_field :contact_no ,:class=> 'input', :pattern => "[0-9]{10,13}" %>
                          </div>
                        </div>


                        <div class="control-group">

                          <div class="controls">
                            <%= f.submit 'Update Settings' ,:class => "btn btn-primary " %>
                          </div>
                        </div>

                      <% end %>
                    </div>
                     <div class="span3"></div>
                  </div>

                </div>

              </div>

              <div class="tab-pane" id="pwd_tab">


                <div class="center_align">
                <div class="control-group">
                	 <%= form_for @user , :url  => user_update_path, :method => :put , :class => 'form_horizontal span5' do |f| %>

                	  <div class="control-group">
                          <%= f.label :password , :class=> 'control-label'%>
                          <div class="controls">
                            <%= f.password_field :password,:class=> 'password' %>
                          </div>
                        </div>
                    <%= f.label :password_confirmation , :class=> 'control-label'%>
                    <div class="controls">
                      <%= f.password_field :password_confirmation,:class=> 'password' %>
                    </div>
                     <div class="controls">
                            <%= f.submit 'Change password' ,:class => "btn btn-primary " %>
                          </div>
                  <% end %>
                  </div>

                </div>

              </div>
            </div>
          </div>