   <div class="row">

            <div class="tabbable" style="margin-top:50px"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#private_tab" data-toggle="tab">Private Notes</a></li>
              <li><a href="#public_tab" data-toggle="tab">Public Notes</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="private_tab">
                <div class="board context-menu-board" id="board">

                  <ul>
                    <% private_menu_class = 'context-menu-note-private' %>
                     <%if notice.user_id == @user.id %>
                      <% private_menu_class += '-own' %>
                    <% end %>

                     <%@private_notices.each do |notice| %>
                      <li class="context-menu-note notice <%=private_menu_class%>" type="private" id="<%= notice.id %>">
                        <h4 class="notice_title"><%=notice.title%></h4>
                        <p class="notice_conten"><%=notice.content%></p>
                      </li>
                   <%end%>


                  </ul>
                </div>

              </div>
              <div class="tab-pane" id="public_tab">

                <div class="board context-menu-board">
                  <ul>
                    <% private_menu_class = 'context-menu-note-public' %>
                     <%@public_notices.each do |notice| %>

                     <%if notice.user_id == @user.id %>
                      <% private_menu_class += '-own' %>
                    <% end %>

                      <li class="context-menu-note notice <%=private_menu_class%>"  type="public" id="<%= notice.id %>">
                        <h4 class="notice_title"><%=notice.title%></h4>
                        <p class="notice_conten"><%=notice.content%></p>
                      </li>
                   <%end%>

                  </ul>
                </div>

              </div>
            </div>
          </div>

        </div>
