   <div class="row">

            <div class="tabbable" style="margin-top:50px"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#private_tab" data-toggle="tab">Private Notes</a></li>
              <li><a href="#public_tab" data-toggle="tab">Public Notes</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="private_tab">

                <div class="board context-menu-board" id="board">

                  <ul>
                     <%@private_notices.each do |notice| %>
                      <li class="context-menu-note" id="<%= notice.id %>">
                       <a href="#">
                        <h4><%=notice.title%></h4>
                        <p><%=notice.content%></p>
                       </a>
                      </li>
                   <%end%>


                  </ul>
                </div>

              </div>
              <div class="tab-pane" id="public_tab">

                <div class="board context-menu-board">
                  <ul>

                     <%@public_notices.each do |notice| %>
                      <li class="context-menu-note" id="<%= notice.id %>">
                       <a href="#">
                        <h4><%=notice.title%></h4>
                        <p><%=notice.content%></p>
                       </a>
                      </li>
                   <%end%>

                  </ul>
                </div>

              </div>
            </div>
          </div>

        </div>
