<!DOCTYPE html>
<html debug="false">
<head>
  <title>Board</title>

  <%= stylesheet_link_tag "application", :media => "all" %>

  <%= csrf_meta_tags %>
</head>
<body>
	<%= render :partial => "layouts/header" %>
	<div class="alert" id="loading_div"><%#= flash[:message]%></div>

	<div class="container">
		<div class="row">
			<div class="span1"></div>
			<div class="span10">
				<%= yield %>
			</div>
			<div class="span1"></div>
		</div>
  </div>
  <div id="footer"></div>

  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script>
	<% if user_signed_in? %>
	  <%= javascript_include_tag "private_pub" %>
  	<%= subscribe_to session[:channel] %>
  	<%= subscribe_to "/user_#{current_user.name}" %>
  <% else %>
   	<%= render :partial => "layouts/login" %>
	<% end %>

<div id="notice" class="modal hide fade in" style="display: none; ">
	<div  class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3 id="notice_header"><%=I18n.translate(:upgrade_your_account)%></h3>
	</div>
	<div class="modal-body" id="notice_body">
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal"><%=I18n.translate(:close)%></a>
	</div>
</div>
<script type="text/javascript">
window.data_ary = <%= raw Team.all.map(&:name).to_json()%>;
  I18n.defaultLocale = "<%= I18n.default_locale %>";
  I18n.locale = "<%= I18n.locale %>";
  I18n.fallbacks = true;
</script>
</body>
</html>
