<!DOCTYPE html>
<html>
<head>
  <title>Board</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
	<%= render :partial => "layouts/header_after_login" %>
	<% else %>
	<%= render :partial => "layouts/header_before_login" %>
	<% end %>
	<%#= flash[:error] %>
	<div class="alert" id="loading_div"><%#= flash[:message]%></div>
	<div class="container">
		<div class="row">
			<div class="span1"></div>
			<div class="span10">
				<%= yield %>
			</div>
			<div class="span1"></div>
		</div>	
	
  </div>
  <div id="footer"></div>
</body>
</html>
