<!DOCTYPE html>
<html>
<head>
  <title>Board</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= csrf_meta_tags %>
</head>
<body>

	<%= render :partial => "layouts/header" %>

	<div class="alert" id="loading_div"><%#= flash[:message]%></div>

	<div class="container">
		<div class="row">
			<div class="span1"></div>
			<div class="span10">
				<%= yield %>
			</div>
			<div class="span1"></div>
		</div>
  </div>
  <div id="footer"></div>

	<%= javascript_include_tag "application" %>

	<% if user_signed_in? %>
	  <%= javascript_include_tag "private_pub" %>
  	<%= subscribe_to session[:channel] %>
  	<%= subscribe_to "/user_#{current_user.name}" %>
	<% end %>

 	<%= render :partial => "layouts/login" %>
<div id="notice" class="modal hide fade in" style="display: none; ">
	<div  class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3 id="notice_header">Upgrade your Account</h3>
	</div>
	<div class="modal-body" id="notice_body">
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
</div>

</body>
</html>
